<!--files:-->
<div id = "research_files" class="col-sm-12">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title" style="vertical-align: center">
                项目相关资料
            </h3>
        </div>
        <!--Data Table-->
        <!--===================================================-->
        <div class="panel">
            <div class="panel panel-info">
                <div class="panel-body">
                    <button type="button" class="pjt_files_btn btn btn-success" data-type="Download">批量下载</button>
                    <button type="button" class="pjt_files_btn btn btn-warning" data-type="Push">批量推送</button>
                    <button type="button" class="pjt_files_btn btn btn-danger" data-type="Delete">批量删除</button>
                    <button type="button" class="pjt_files_btn btn btn-primary" data-type="New">文件添加</button>
                    <!--<table class="layui-table" lay-data="{width: 892, height:332, url:'/demo/table/user/', page:true, id:'idTest'}" lay-filter="demo">-->
                    <table class="layui-hide" id="demo" lay-filter="demo"></table>
                </div>
            </div>
        </div>
        <!--===================================================-->
        <!--End Data Table-->
    </div>
</div>
<!--end files-->
{include file="common/uploadFileModal"/}
<!--files-js-->
<script>
    layui.use('table', function(){
        var table = layui.table;
        //展示已知数据
        var cols = JSON.parse('{$cols_json}');
        var data = JSON.parse('{$data_json}');
        table.render({
            elem: '#demo'
            ,cols: cols
            ,data: data
            //,skin: 'line' //表格风格
            ,even: true
            ,id: "idTest"
            ,page: true //是否显示分页
            ,limits: [10,30,99999]
            ,limit: 10 //每页默认显示的数量
        });
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });

        $('.pjt_files_btn').on('click', function(){
            var checkStatus = table.checkStatus('idTest');
            if ($(this).data('type') === 'New'){
                uploadFileModal("{:url('admin/project/add_file')}","","research:{$project.constant_id}")
            } else {
                post("{:url('admin/project/batchFileCtrl')}",{
                    data:JSON.stringify(checkStatus.data),
                    submitType:$(this).data('type'),
                    project_id:{$project.id}, // 注意这里是TP5框架的替换，不是JS语法
                });
            }
        });

        /**
         * 利用post进行参数传递,并且打开新网页
         * @param URL       URL地址
         * @param PARAMS    以类的结构组织的数据,类似{a:1,b:2}
         * @returns {HTMLFormElement}
         */
        function post(URL, PARAMS) {
            var temp = document.createElement("form");
            temp.action = URL;
            temp.method = "post";
            temp.style.display = "none";
            for (var x in PARAMS) {
                var opt = document.createElement("textarea");
                opt.name = x;
                opt.value = PARAMS[x]; // alert(opt.name)
                temp.appendChild(opt);
            }
            document.body.appendChild(temp);
            temp.submit();
            console.log("居然会返回?");
            return temp;
        }
    });
</script>
<!--end files-js-->
