{include file="common/body_up"/}
<div id="container" class="effect aside-float aside-bright mainnav-lg">
    {include file="common/navbar"/}
    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <!--Breadcrumb-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <ol class="breadcrumb">
                <li><a href="{:url('Admin/Index/index')}">首页</a></li>
                <li><a href="#">{$title|default="设置模板默认值"}</a></li>
                <li class="active">{$subtitle}</li>
            </ol>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End breadcrumb-->

            {include file="research/catalogPath"/}

            <!--表格-->
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <div class="layui-btn-group demoTable">
                                <button type="button" class="layui-btn" data-type="dowloadFiles">批量下载</button>
                                <!--<button type="button" class="layui-btn" data-type="deleteFiles">批量删除</button>-->
                                <!--<button type="button" class="layui-btn" data-type="uploadFile">上传文件</button>-->
                            </div>
                            <!--<table class="layui-table" lay-data="{width: 892, height:332, url:'/demo/table/user/', page:true, id:'idTest'}" lay-filter="demo">-->
                            <table class="layui-hide" id="demo" lay-filter="demo"></table>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End Data Table-->
                    <!--</form>-->
                </div>
            </div>
            <!--end表格-->

        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->



        {include file="common/mainnav"/}
    </div>
    {include file="common/footer"/}
</div>

<!--监听导航-->
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
<!--监听导航-->

<!--layui 的表格-->
<script>
    layui.use('table', function(){
        var table = layui.table;
        //展示已知数据
        var cols = JSON.parse('{$cols}');
        var data = JSON.parse('{$data_json}');
        table.render({
            elem: '#demo'
            ,cols: cols
            ,data: data
            //,skin: 'line' //表格风格
            ,even: true
            ,id: "idTest"
            ,page: true //是否显示分页
            ,limits: [10,30,99999]
            ,limit: 10 //每页默认显示的数量
        });
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });


        var $ = layui.$, active = {
            dowloadFiles: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                // layer.alert(JSON.stringify(data));
                post("{:url('admin/Research/batch_file_download')}",{data:JSON.stringify(data)});
            }
            ,deleteFiles: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                post("{:url('admin/Research/batch_file_delete')}",{data:JSON.stringify(data)});
            }
            // ,uploadFile: function(){
            //     uploadFileModal("{:url('admin/Listfile/add_file')}",'',"{$research.id},{$nowPath.catalogPath|default='发生了错误'}")
            // }
            ,uploadFile: function(){
                uploadFileModal(
                    // "{:url('admin/Listfile/add_file')}",
                    "/admin/Research/add_file/label/" +
                    "{$research.id},{$nowPath.catalogPath}",
                    "",
                    "{$nowPath.name}",
                )
            }

        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        /**
         * 利用post进行参数传递,并且打开新网页
         * @param URL       URL地址
         * @param PARAMS    以类的结构组织的数据,类似{a:1,b:2}
         * @returns {HTMLFormElement}
         */
        function post(URL, PARAMS) {
            var temp = document.createElement("form");
            temp.action = URL;
            temp.method = "post";
            temp.style.display = "none";
            for (var x in PARAMS) {
                var opt = document.createElement("textarea");
                opt.name = x;
                opt.value = PARAMS[x]; // alert(opt.name)
                temp.appendChild(opt);
            }
            document.body.appendChild(temp);
            temp.submit();
            console.log("居然会返回?");
            return temp;
        }
    });
</script>
<!--layui 的表格-->

<!--上传文件模态框-->
{include file="common/uploadFileModal"/}
<!--上传文件模态框-->

{include file="common/body_down"/}

