<!--box_title-->
<div id='research_box_title' class="col-sm-12">
    <div class="panel">
        <div class="panel panel-info">
            <!--<div class="panel-heading" style="border-radius: 5px;margin: 17px;"><h3>我的文章</h3></div>-->
            <div class="panel-body">
                <table  class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="30%">课题名称</th>
                        <th width="15%">负责人</th>
                        <th width="25%">成员</th>
                        <th width="15%">创建时间</th>
                        <th width="10%">
                            <!--<button class="btn btn-block btn-primary" onclick="emailSentConfirm()">发送邮件</button>-->
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{$research.id}</td>
                        <td>
                            {$research.name|default="未知"}
                        </td>
                        <td>
                            <?php
                                // 这个地方是用来处理替换中文符号，并且能够实现在人数很多的时候自动换行
                                // 因为浏览器会把连续的英文字符和逗号视为一个单词所以必须分开
                                if(!empty($research['principal'])){
                                    $tmp = preg_replace("/，/",", ",$research['principal']);
                                    $tmp = preg_replace("/,/",", ",$tmp);
                                    echo $tmp;
                                } else {
                                    echo "没有课题管理员";
                                }
                            ?>
                        </td>
                        <td>
                            <?php
                                // 这个地方是用来处理替换中文符号，并且能够实现在人数很多的时候自动换行
                                // 因为浏览器会把连续的英文字符和逗号视为一个单词所以必须分开
                                if(!empty($research['teammate'])){
                                    $tmp = preg_replace("/，/",", ",$research['teammate']);
                                    $tmp = preg_replace("/,/",", ",$tmp);
                                    echo $tmp;
                                } else {
                                    echo "没有课题成员";
                                }
                            ?>
                        </td>
                        <td>{$research.time}</td>
                        <td>
                            <a type="button" class="btn btn-warning btn-block"
                               data-toggle="modal" data-target="#research_dominate"
                            >
                                编辑成员
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--===================================================-->
        <!--End Data Table-->

    </div>
</div>
<!--end box_title-->

<!-- 课题人员管理模态框开始 -->
<div class="modal fade" id="research_dominate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">课题人员管理</h4>
            </div>
            <div class="modal-body">
                <form id="researchDominateForm" class="form-horizontal" method="post" enctype="multipart/form-data"
                      action="{:url('admin/research/research_rename',['research_id'=>$research.id])}"
                >
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="research_principal">管理员</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="research_principal" name="research_principal"
                                >{$research.principal}</textarea>

                                <div class="text-danger">
                                    如果有多个管理员,使用","分割,类似"A,B,C"
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="research_teammate">组员</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="research_teammate" name="research_teammate"
                                >{$research.teammate}</textarea>
                            </div>
                        </div>
                        <button class="btn btn-warning btn-rounded" type="submit" style="float: right">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 课题人员管理模态框结束 -->
