{include file="common/body_up"/}
<div id="container" class="effect aside-float aside-bright mainnav-lg">
    {include file="common/navbar"/}
    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <!--Page Title-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div id="page-title">

            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End page title-->


            <!--Breadcrumb-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <ol class="breadcrumb">
                <li><a href="{:url('Admin/Index/index')}">首页</a></li>
                <li><a href="#">{$title}</a></li>
                <li class="active">{$subtitle}</li>
            </ol>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End breadcrumb-->

            <!-- <div class="panel-heading">
                <h3 class="panel-title">Sample Toolbar</h3>
            </div> -->

            <!--Data Table-->
            <!--===================================================-->
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">邮件编写</h3>
                    </div>

                    <!--No Label Form-->
                    <!--===================================================-->
                    <form class="form-horizontal" method="post" action="{:url('admin/Email/mail_edit')}">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 mar-btm">
                                    <input type="text" class="form-control" name="subject"
                                           placeholder="Subject" required="required"
                                           value="{$subject|default=''}">
                                </div>
                                <div class="col-md-4 mar-btm">
                                    <input type="text" class="form-control"  name="receiver"
                                           placeholder="Receiver" required="required"
                                           value="{$receiver|default=''}"
                                    >
                                </div>
                            </div>
                            <textarea rows="30" class="form-control" name="article"
                                      placeholder="Article" required="required"
                            >{$article|default=''}</textarea>
                        </div>
                        <div class="panel-footer text-left">
                            <button class="btn btn-info " type="submit">Send Mail</button>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End No Label Form-->

                </div>
            </div>

            <!--===================================================-->
            <!--End Data Table-->

        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->

        {include file="common/mainnav"/}
    </div>
    {include file="common/footer"/}
</div>
{include file="common/body_down"/}